{% extends 'base.html' %} {% block head %}
<title>
  Post to Personality | Get a Personality type from a Reddit account
</title>
{% endblock %} {% block body %}
<main data-barba="container" data-barba-namespace="home">
  <header>
    <div class="titles">
      <h1>
        Post 2 <br />
        Personality
      </h1>
      <h2>
        A social media <br />
        personality analyzer
      </h2>
    </div>
    <img
      src="/static/images/Reddit_mascot.png"
      alt="Snoo the Reddit's mascot"
    />
  </header>
  <div class="form_container">
    <h2>Enter your Reddit username</h2>
    <form action="/" method="POST">
      <input type="text" class="field" name="content" />
      <input type="submit" class="button" value="Analyze my personality" />
    </form>
  </div>
</main>
{% endblock %}
